In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [2]:
dataset = {'research': [15000, 90000, 250000, 175000, 88000, 210000],
           'marketing': [5000, 25000, 31000, 44000, 19700, 21111],
           'city': ['Texas', 'Delaware', 'Florida', 'Texas', 'Delaware','Florida'],
           'profit': [9999, 5555, 3333, 4444, 1111, 2222]
          }
df = pd.DataFrame(dataset)
df.head()

   research  marketing      city  profit
0     15000       5000     Texas    9999
1     90000      25000  Delaware    5555
2    250000      31000   Florida    3333
3    175000      44000     Texas    4444
4     88000      19700  Delaware    1111

In [3]:
columnTransformer = ColumnTransformer([('encoder', OneHotEncoder(), [2])], remainder='passthrough')

In [4]:
df = np.array(columnTransformer.fit_transform(df), dtype = np.str)

In [5]:
print(df)

[['0.0' '0.0' '1.0' '15000.0' '5000.0' '9999.0']
 ['1.0' '0.0' '0.0' '90000.0' '25000.0' '5555.0']
 ['0.0' '1.0' '0.0' '250000.0' '31000.0' '3333.0']
 ['0.0' '0.0' '1.0' '175000.0' '44000.0' '4444.0']
 ['1.0' '0.0' '0.0' '88000.0' '19700.0' '1111.0']
 ['0.0' '1.0' '0.0' '210000.0' '21111.0' '2222.0']]